.form__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
  position: fixed;
}

.formulary {
  background-color: #f0f0f0;
  max-width: 300px;
  width: calc(19em + 50px);
  min-width: 200px;
  border-radius: 1em;
  box-shadow: 0 0 10px 5px #c9c9c9;
}
.formulary__group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.formulary__group .image_error_input {
  background-color: var(--clr-danger);
  text-align: center;
  color: snow;
  position: absolute;
  bottom: 5.5em;
  width: 85%;
  padding: 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  font-size: 0.8em;
  transform: scaleY(0);
  -webkit-animation: alert_error 1s forwards;
          animation: alert_error 1s forwards;
  transform-origin: bottom;
}
@-webkit-keyframes alert_error {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes alert_error {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.formulary__group .name__label {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  transform: translate(-0.8em, -1.5em) scale(0.9);
  transition: transform 250ms;
}
.formulary__group .formulary__input:-moz-placeholder-shown + .name__label {
  transform: translate(0, 0) scale(1);
}
.formulary__group .formulary__input:-ms-input-placeholder + .name__label {
  transform: translate(0, 0) scale(1);
}
.formulary__group .formulary__input:placeholder-shown + .name__label {
  transform: translate(0, 0) scale(1);
}
.formulary__group .formulary__input:focus + .name__label {
  transform: translate(-0.8em, -1.5em) scale(0.9);
}
.formulary__group .error_input {
  font-size: 0.8em;
  margin: 0;
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: var(--clr-danger);
}
.formulary__content {
  padding: 1em;
}
.formulary__select, .formulary__input {
  width: 100%;
  padding: 0.5em;
  outline: none;
  font-size: 1em;
  margin-bottom: 2em;
  border: none;
  box-shadow: 2px 2px 10px 0 #6d6d6d;
  border-radius: 0.2em;
}
.formulary__image {
  height: 10em;
  width: 14em;
  overflow: hidden;
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: snow;
  -o-object-fit: cover;
     object-fit: cover;
}
.formulary__image__input {
  display: none;
}
.formulary__image__select {
  cursor: pointer;
  border-radius: 0.3em;
  display: inline-block;
  margin: 1em 0 2em 0;
  padding: 0.5em;
  width: 15ch;
  text-align: center;
  box-shadow: 2px 2px 10px 0 #6d6d6d;
}
.formulary__image__select > .upload {
  font-size: 1.2em;
  color: var(--clr-sucess);
}
.formulary__image__select > .label {
  color: var(--clr-sucess);
}
.formulary__close {
  color: var(--clr-danger);
  position: relative;
  font-size: 1.5em;
  margin-left: 85%;
  margin-top: 0.5em;
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 0.3em;
  margin: 1em 0 2em 0;
  padding: 0.5em;
  box-shadow: 2px 2px 10px 0 #6d6d6d;
  border: none;
  font-size: 1em;
  background-color: var(--clr-sucess);
  color: white;
  font-weight: bold;
  margin-left: auto;
  width: 80%;
  margin-left: 10%;
}

.form__container.modal__appear {
  -webkit-animation: modal_appear 400ms forwards linear;
          animation: modal_appear 400ms forwards linear;
}

.form__container.modal__disappear {
  -webkit-animation: modal_disappear 400ms forwards linear;
          animation: modal_disappear 400ms forwards linear;
  pointer-events: none;
  cursor: default;
}

@-webkit-keyframes modal_appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal_appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes modal_disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modal_disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form__container.modal__appear > .formulary {
  -webkit-animation: container_appear 400ms forwards linear;
          animation: container_appear 400ms forwards linear;
}

.form__container.modal__disappear > .formulary {
  -webkit-animation: container_disappear 400ms forwards linear;
          animation: container_disappear 400ms forwards linear;
}

@-webkit-keyframes container_appear {
  from {
    transform: translate(0, -10em);
  }
  to {
    transform: translate(0 0);
  }
}

@keyframes container_appear {
  from {
    transform: translate(0, -10em);
  }
  to {
    transform: translate(0 0);
  }
}
@-webkit-keyframes container_disappear {
  from {
    transform: translate(0 0);
  }
  to {
    transform: translate(0, -10em);
  }
}
@keyframes container_disappear {
  from {
    transform: translate(0 0);
  }
  to {
    transform: translate(0, -10em);
  }
}/*# sourceMappingURL=ingredient-formulary.component.css.map */